.form {
  height: 100%;
  grid-template-rows: 1fr auto;
  display: grid;
}

.textBox,
.textArea {
  width: 100%;
  height: 100%;
  outline: none;
  color: #164faaee;
  font-size: 2rem;
  line-height: 1.2em;
  box-sizing: border-box;
  background-color: var(--background);
  background-image:
    linear-gradient(to right, #e0e0e0 1px, transparent 1px),
    linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
  background-size: 0.5em 0.5em;
}

.checkBtn {
  position: relative;
}

.checkBtn::after {
  content: "";
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  width: 2em;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid currentColor;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.active::after {
  opacity: 1;
}

.inputs {
  width: 100%;
}

.input {
  outline: none;
  text-overflow: ellipsis;
}

.textBox {
  position: relative;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 0.5em;
  display: grid;
}

.textBox::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  width: 100%;
  height: 1.5rem;
  transform: translateY(-100%);
  background-image: url("/text-area-header.svg");
  background-size: contain;
  display: block;
}

.formNav {
  height: fit-content;
  margin: .5rem;
  justify-content: center;
  display: flex;
}

@media (max-width: 680px) {
  .form {
    padding: 0;
    /* padding-top: 0.5rem; */
  }
  .textBox {
    /* padding-bottom: 7rem; */
  }
  .formNav {
    scale: 1.2;
  }
}
