.form {
  background-color: var(--chart-3);
  padding: 1rem;
  overflow: hidden;
}

.textBox,
.textArea {
  width: 100%;
  height: 100%;
  outline: none;
  color: #164faaee;
  font-size: 2rem;
  line-height: 1.2em;
}

.textBox {
  position: relative;
  max-width: 800px;
  margin: auto;
  margin-top: 1.5rem;
  padding: 0.5em;
  padding-bottom: 6rem;
  box-sizing: border-box;
  background-color: var(--background);
  background-image:
    linear-gradient(to right, #e0e0e0 1px, transparent 1px),
    linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
  background-size: 0.5em 0.5em;
}

.textBox::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  width: 100%;
  height: 1.5rem;
  transform: translateY(-100%);
  background-image: url("/text-area-header.svg");
  background-size: contain;
  display: block;
}

.formNav {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 3rem;
  width: 100%;
  padding: 0 2rem;
  justify-content: center;
  display: flex;
}

@media (max-width: 680px) {
  .form {
    padding: 0;
    padding-top: .5rem;
  }
  .formNav {
    scale: 1.2;
  }
}
